footer {
  display: flex;
  flex-direction: column;
  color: @green;
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 1%;
    padding-top: 1%;
    font-size: 1.5rem;
    @media @phone {
      padding-left: 5%;
      padding-right: 5%;
    }
    a {
      text-decoration: none;
      color: @a-tag-color;
      &:hover,
      &:active {
        background-color: #ffffff;
        font-size: 150%;
        color: @green;
      }
    }
  }
}
