footer {
  display: flex;
  flex-direction: column;
  color: @green;

  nav {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 50%;
    margin-bottom: 1%;
    padding-top: 1%;
    font-size: 1.5rem;
    @media @tablet {
      width: 75%;
    }
    @media @phone {
      justify-content: space-between;
      width: 90%;
    }
    a {
      text-decoration: none;
      color: @a-tag-color;
      &:hover,
      &:active {
        background-color: #ffffff;
        font-size: 140%;
        color: @green;
      }
    }

    h1 {
      .flex-box();
      font-size: 3.5rem;
      margin-top: 1%;
    }
  }
}
