.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-box-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  color: #46792f;
  text-decoration: none;
  background: #ffffff;
  padding: 1.8%;
  border: 4px solid #773f1a;
  display: inline-block;
  transition: all 0.4s ease 0s;
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 2.4rem;

  &:hover {
    color: #ffffff;
    background: @blue;
    border-color: @blue;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }
}

.desktop-style {
  width: 100%;
  margin: 0 auto;
}

.animal-box {
  width: 30%;
  height: 75%;
  @media @phone {
    width: 50%;
  }
  img {
    width: 30%;
  }
  border: 5px solid @green;
}

.team-member-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 15%;
  margin-left: 15%;
}

.team-member-box {
  width: 25%;
  @media @phone {
    width: 50%;
  }
  img {
    width: 30%;
  }
  border: 5px solid @green;
}
